## Importação de bibliotecas

In [45]:
import pandas as pd
import numpy as np
import json
from pathlib import Path
from aibox.nlp.factory import get_extractor
from tqdm import tqdm

## Importação dos dados e conversao de Json para dataframe

Prova 2019

In [52]:
with open("../dados/provas_json/provas_concat/2019_d1.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2019_d1 = pd.DataFrame(data)
with open("../dados/provas_json/provas_concat/2019_d2.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2019_d2 = pd.DataFrame(data)

prova2019 = pd.concat([prova2019_d1,prova2019_d2],ignore_index=True)

itens2019 = pd.read_csv("../dados/processados/ITENS_PROVA_2019_AZUL.csv")
itens2019.head()

full2019 = pd.merge(itens2019,prova2019,
                    left_on='CO_POSICAO',
                    right_on='number',
                    how='left')

df2019 = full2019[['text','NU_PARAM_B','has_img']]

df2019 = df2019.dropna(subset=["NU_PARAM_B", "text"]).reset_index(drop=True)

Prova 2020

In [53]:
with open("../dados/provas_json/provas_concat/2020_d1.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2020_d1 = pd.DataFrame(data)
with open("../dados/provas_json/provas_concat/2020_d2.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2020_d2 = pd.DataFrame(data)

prova2020 = pd.concat([prova2020_d1,prova2020_d2],ignore_index=True)

itens2020 = pd.read_csv("../dados/processados/ITENS_PROVA_2019_AZUL.csv")
itens2020.head()

full2020 = pd.merge(itens2020,prova2020,
                    left_on='CO_POSICAO',
                    right_on='number',
                    how='left')

df2020 = full2020[['text','NU_PARAM_B','has_img']]

df2020 = df2020.dropna(subset=["NU_PARAM_B", "text"]).reset_index(drop=True)

Prova 2021 (ta dando bo na importacao n sei pq)

In [ ]:
with open("../dados/provas_json/provas_concat/2021_d1.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2019_d1 = pd.DataFrame(data)
with open("../dados/provas_json/provas_concat/2021_d2.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2019_d2 = pd.DataFrame(data)

prova2023 = pd.concat([prova2019_d1,prova2019_d2],ignore_index=True)

itens2023 = pd.read_csv("../dados/processados/ITENS_PROVA_2019_AZUL.csv")
itens2023.head()

full2023 = pd.merge(itens2023,prova2023,
                    left_on='CO_POSICAO',
                    right_on='number',
                    how='left')

df2023 = full2023[['text','NU_PARAM_B','has_img']]

df2023.head()

##TA EXTRAINDO MAL N SEI PQ DEIXA 2021 PRA LA

                                                text  NU_PARAM_B  has_img
0  ] 
 ^  \n & ^\n8 8...     0.61130      0.0
1  The British (serves 60 million)$f'\n...     0.63692      0.0
2  Becoming`f \n 8 
\t 8\t...     0.41261      0.0
3  Fb')=FF4<\n(5
\t^^^4^_
f
44;...     0.34872      1.0
4  Exterior: Between The Museums — Day"=!b>=;
\...     0.49582      0.0

Prova 2022

In [55]:
with open("../dados/provas_json/provas_concat/2022_d1.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2022_d1 = pd.DataFrame(data)
with open("../dados/provas_json/provas_concat/2022_d2.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2022_d2 = pd.DataFrame(data)

prova2022 = pd.concat([prova2022_d1,prova2022_d2],ignore_index=True)

itens2022 = pd.read_csv("../dados/processados/ITENS_PROVA_2019_AZUL.csv")
itens2022.head()

full2022 = pd.merge(itens2022,prova2022,
                    left_on='CO_POSICAO',
                    right_on='number',
                    how='left')

df2022 = full2022[['text','NU_PARAM_B','has_img']]

df2022 = df2022.dropna(subset=["NU_PARAM_B", "text"]).reset_index(drop=True)

Prova 2023

In [56]:
with open("../dados/provas_json/provas_concat/2023_d1.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2023_d1 = pd.DataFrame(data)
with open("../dados/provas_json/provas_concat/2023_d2.json", encoding="utf-8") as f:
    data = json.load(f)

# Create a DataFrame
prova2023_d2 = pd.DataFrame(data)

prova2023 = pd.concat([prova2023_d1,prova2023_d2],ignore_index=True)

itens2023 = pd.read_csv("../dados/processados/ITENS_PROVA_2019_AZUL.csv")
itens2023.head()

full2023 = pd.merge(itens2023,prova2023,
                    left_on='CO_POSICAO',
                    right_on='number',
                    how='left')

df2023 = full2023[['text','NU_PARAM_B','has_img']]

df2023 = df2023.dropna(subset=["NU_PARAM_B", "text"]).reset_index(drop=True)

## Extraindo Features

In [57]:
features = [
    "readabilityBR",
    "textualSimplicityBR",
    "syntacticComplexityBR",
    "lexicalDiversityBR",
    "connectivesV2BR",
    "referentialCohesionBR",
    "sequentialCohesionBR",
    "regencyBR",
    "conjugationBR",
    "liwcBR"
]

extractor = get_extractor(features)

In [70]:
tqdm.pandas()
def extract_all(text):
    try:
        return extractor.extract(text).as_dict()
    except Exception as e:
        # If something goes wrong (e.g., non‑Portuguese text) return empty dict
        print(f"Extraction error: {e}")
        return {}

# 4. Apply only to the 'text' column
df2023["feat_dict"] = df2023["text"].progress_apply(extract_all)

# 5. Flatten the dictionaries to columns
df_feats = pd.json_normalize(df2023["feat_dict"])

# 6. Merge with the original columns you want to keep
df2023_final = pd.concat(
    [df2023.drop(columns="feat_dict"), df_feats], axis=1
)

100%|██████████| 174/174 [01:16<00:00,  2.28it/s]

In [73]:
df2023_final.head()

,text,NU_PARAM_B,has_img,adapted_dalechall,brunet_indice,flesch_indice,gunning_fox_indice,honore_statistics,readibility_indice,token_var_idx
0,The average american tosses 300 pounds of food...,0.61130,1.0,4.182469,8.127310,83.020667,3.421333,1868.867005,8.359067,121.663282
1,"No man is an island,Entire of itself;Every man...",0.63692,0.0,4.309611,8.924134,103.139667,4.408889,731.455143,4.554444,47.248416
2,Things We Carry on the Sea We carry tears in o...,0.41261,0.0,4.236131,10.464039,93.286130,3.751739,1585.372476,6.847989,74.398687
3,Spanglish pues estoy creando Spanglish bi-cult...,0.34872,0.0,4.406810,8.682517,5.701538,5.394872,2648.932444,18.885385,177.571748
4,"“Oh, you’ll love working here. Nobody treats y...",0.49582,1.0,4.120549,7.531277,80.394923,3.212308,5886.939046,6.865385,256.780542